.main{
  width:100%;
  background-color: #999;
  /*  flex box syntax*/
  display: flex;
  flex-direction: row;
}
.left{
  width:30%;
  background-color: #c45e45;
  border:5px 4px 5px 4px #fff;
  margin: 5px;
  padding:12px;
}
.right{
  width:70%;
  background-color:#666;
  border:5px 4px 5px 4px #fff;
  margin: 5px;
}
#name{
  color:green;
}
.left img{
  border-radius: 50px;
  border:5px solid #c454;
}
/*  media queries(1024,1280,768,480)
1280-1024:desktop
1024-768:tablet(landscape)
768-480:tablet
480:mobile landscape
 */
@media only screen and (min-width:1024px) and (max-width:1280px) {
  .main{
    width:100%;
    background-color: #999;
    /*  flex box syntax*/
    display: flex;
    flex-direction: row;
  }
  .left{
    width:30%;
    background-color: red;
    border:5px 4px 5px 4px #fff;
    margin: 5px;
    padding:12px;
  }
  .right{
    width:70%;
    background-color: #666;
    border:5px 4px 5px 4px #fff;
    margin: 5px;
  }
  #name{
    color:green;
  }
  .left img{
    border-radius: 50px;
    border:5px solid #c454;
  }
  }
  @media only screen and (min-width:768px) and (max-width:1024px) {
    .main{
      width:100%;
      background-color: yellow;
      /*  flex box syntax*/
      display: flex;
      flex-direction: row;
    }
    .left{
      width:30%;
      background-color: orange;
      border:5px 4px 5px 4px #fff;
      margin: 5px;
      padding:12px;
    }
    .right{
      width:70%;
      background-color: #5436;
      border:5px 4px 5px 4px #fff;
      margin: 5px;
    }
    #name{
      color:green;
    }
    .left img{
      border-radius: 50px;
      border:5px solid #c454;
    }
  }
  @media only screen and (max-width:480px) {
    .main{
      width:100%;
      background-color: lightblue;
      /*  flex box syntax*/
      display: flex;
      flex-direction: column;
    }
    .left{
      width:100%;
      background-color: pink;
      border:5px 4px 5px 4px #000;
      margin: 5px;
      padding:12px;
    }
    .right{
      width:100%;
      background-color:#c454;
      border:5px 4px 5px 4px #fff;
      margin: 5px;
    }
    #name{
      color:green;
    }
    .left img{
      border-radius: 50px;
      border:5px solid #c454;
    }
  }
