.main{
  background-color: #999;
  /*  flex box syntax*/
  display: flex;
  flex-wrap: wrap
}
.left{
  text-align: justify;
border:2px solid #000;
margin:2px;
flex: 1;
background-color: #D3D3D3;
color: #000;
}
.right{
  text-align: justify;
  border: 2px solid #000;
 flex: 2;
  background-color: #B0C4DE;
  color: #000;

}
#name{
  color:green;
}
.left img{
  border-radius: 50px;
  border:5px solid #c454;
}
/*  media queries(1024,1280,768,480)
1280-1024:desktop
1024-768:tablet(landscape)
768-480:tablet
480:mobile landscape
 */
 @media only screen and (min-width:1024px) and (max-width:1280px) {
  .main{
    flex-direction: row;
    background-color: #999;
    /*  flex box syntax*/

  }
  .left{
    text-align: justify;
  border:2px solid #000;
  margin:2px
  background-color: #D3D3D3;
  color: #000;
  }
  .right{
    text-align: justify;
    border: 2px solid #000;
    background-color: #D3D3D3;
    color: #000;
  }
  #name{
    color:green;
  }
  .left img{
    border-radius: 50px;
    border:5px solid #c454;
  }
  }
   @media only screen and (min-width:768px) and (max-width:1024px) {
    .main{

      background-color: #8FBC8F;
      /*  flex box syntax*/
      display: flex;
      flex-direction: column;
    }
    .left{
      text-align: justify;
    border:2px solid #000;
    margin:2px;

    background-color: #D3D3D3;
    color: #000;
    }
    .right{
      text-align: justify;
      border: 2px solid #000;

      background-color: #B0C4DE;
      color: #000;
    }


    #name{
      color:green;
    }
    .left img{
      border-radius: 50px;
      border:5px solid #c454;
    }
  }
  @media only screen and (max-width:480px)
  {
    .main{
      width:100%;
      background-color: #8FBC8F;
      /*  flex box syntax*/
      display: flex;
      flex-direction: column;
    }
    .left{
      text-align: justify;
    border:2px solid #000;
    margin:2px;

    background-color: #D3D3D3;
    color: #000;
    }
    .right{
      text-align: justify;
      border: 2px solid #000;

      background-color: #B0C4DE;
      color: #000;
    }
    #name{
      color:green;
    }
    .left img{
      border-radius: 50px;
      border:5px solid #c454;
    }
  }
  }

#tab,tr,td{
  border: 2px solid #000;
  border-collapse: collapse;
}
